<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to Advanced Software Engineering Institute, Application Received!</title>
  </head>
  <body style="width: 100% !important; height: 100%; line-height: 1.4; color: #74787E; -webkit-text-size-adjust: none; background: #F2F4F6; margin: 0;" bgcolor="#F2F4F6">
    <style type="text/css">
@media only screen and (max-width: 600px) {
  .email-body_inner {
    width: 100% !important;
  }
  .email-footer {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
  .button {
    width: 100% !important;
  }
}
</style>
    <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; background: #F2F4F6; margin: 0; padding: 0;" bgcolor="#F2F4F6">
      <tr><td align="center">
        <table class="email-content" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; padding: 0;"><!-- Logo --><tr><td class="email-masthead" align="center" style="text-align: center; padding: 25px 0;">
              <a class="email-masthead_name" href="http://www.advancedsei.com" style="color: #bbbfc3; font-size: 16px; font-weight: bold; text-decoration: none; text-shadow: 0 1px 0 white;"><img width="140" src="http://drive.google.com/uc?export=view&id=0B0CUg2TTL-D0UkZNc1B1NFJ0Rmc" /></a>
            </td>
          </tr><!-- Email Body --><tr><td class="email-body" width="100%" style="width: 100%; border-top-color: #EDEFF2; border-top-width: 1px; border-top-style: solid; border-bottom-color: #EDEFF2; border-bottom-width: 1px; border-bottom-style: solid; background: #FFF; margin: 0; padding: 0;" bgcolor="#FFF">
              <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0" style="width: 570px; margin: 0 auto; padding: 0;"><!-- Body content --><tr><td class="content-cell" style="padding: 35px;">
                    <h1 style="margin-top: 0; color: #2F3133; font-size: 19px; font-weight: bold; text-align: left;" align="left">Hi <%= firstName %> <%= lastName %>,</h1>
                    <p style="margin-top: 0; color: #74787E; font-size: 16px; line-height: 1.5em; text-align: left;" align="left">We have received you application for our bootcamp program. We will notify you the next steps by email. </p>
                    <!-- Action -->
                    <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" style="width: 100%; text-align: center; margin: 30px auto; padding: 0;"><tr><td align="center">
                        </td>
                      </tr></table><p style="margin-top: 0; color: #74787E; font-size: 16px; line-height: 1.5em; text-align: left;" align="left"> </p>
                    <p style="margin-top: 0; color: #74787E; font-size: 16px; line-height: 1.5em; text-align: left;" align="left">Thanks,<br />- The ASEI Team</p>
                    <p style="margin-top: 0; color: #74787E; font-size: 16px; line-height: 1.5em; text-align: left;" align="left"></p>
                    </td>
                </tr></table></td>
          </tr><tr><td>
              <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" style="width: 570px; text-align: center; margin: 0 auto; padding: 0;"><tr><td class="content-cell" style="padding: 35px;">
                    <p class="sub center" style="color: #AEAEAE; margin-top: 0; font-size: 12px; line-height: 1.5em; text-align: center;" align="center">© 2016 Advanced Software Engineering Institute. All rights reserved.</p>
                    <p class="sub center" style="color: #AEAEAE; margin-top: 0; font-size: 12px; line-height: 1.5em; text-align: center;" align="center">
                      Mail: 20130 Lakeview Center Plaza, Suite 400 , Ashburn, Virginia, USA 20147 
                      <br />Phone support: 202 798 4723 (202-789-GRAD)  
                      <br />Email support: support@advancedsei.com
                    </p>
                  </td>
                </tr></table></td>
          </tr></table></td>
    </tr>
    </table>
  </body>
</html>
