.zero-left-padding{padding-left:0px !important;}
.zero-right-padding{padding-right:0px !important;}
.zero-padding-both-sides{padding-left:0px !important;padding-right:0px !important;}
.menu-link{font-weight:600 !important;text-transform:none !important;font-size:1.55rem !important;}
.nav-bar-shadow{box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.2) !important;}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:18px;line-height:1.42857143;}
.intro-one{background:url('../img/intro/corporate/app-engineering.jpg') no-repeat;-webkit-background-size:100% auto;-moz-background-size:100% auto;-o-background-size:100% auto;background-size:cover;height:400px;margin:0;padding:0px;}
.intro-two{background:url('../img/intro/corporate/distributed.jpg') no-repeat;-webkit-background-size:100% auto;-moz-background-size:100% auto;-o-background-size:100% auto;background-size:cover;height:400px;margin:0;padding:0px;}
.intro-three{background:url('../img/intro/corporate/dataanalytics.jpg') no-repeat;-webkit-background-size:100% auto;-moz-background-size:100% auto;-o-background-size:100% auto;background-size:cover;height:400px;margin:0;padding:0px;}
.headline-noborder{border-bottom:0px dotted #e4e9f0 !important;}
.headline-noborder h2{font-weight:bold;font-size:2.75rem;line-height:2.125rem;border-bottom:0px solid #72c02c !important;}
.intro-mask1 h2{margin-top:15%;color:#fff;padding-left:30px;line-height:28px;}
.intro-mask2 h2{margin-top:15%;color:#fff;padding-left:30px;line-height:28px;}
.intro-mask3 h2{margin-top:15%;color:#fff;padding-left:30px;line-height:28px;}
.intro-mask1 p{color:#17232a;margin-top:50px;background-color:rgba(63, 191, 63,0.9);padding:30px;}
.intro-mask2 p{color:#17232a;margin-top:50px;background-color:rgba(63, 191, 127,0.9);padding:30px;}
.intro-mask3 p{color:#17232a;margin-top:50px;background-color:rgba(63, 191, 191,0.9);padding:30px;}
.services-intro{background:#081016;}
.services-intro h2{color:#a9abad;padding-bottom:20px;text-transform:none !important;}
.services-intro-box i{width:55px !important;}
.services-intro-box h2{font-size:22px !important;line-height:33px;font-weight:normal !important;}
.services-color-cloud{color:#3F7FBF !important;}
.services-color-si{color:#3FBF3F !important;}
.services-color-performance{color:#3FBF7F !important;}
.services-color-data-engineering{color:#7FBF3F !important;}
.services-color-bi{color:#4CB2B2 !important;}
.services-color-quality{color:#66997F !important;}
h2.title-v2::after{left:0;width:70px;height:2px;content:" ";bottom:-10px;background:#7FBF3F !important;position:absolute;}
.services-intro p{color:#a9abad;}
.experience h3{font-size:18px;text-transform:none !important;visibility:visible;text-align:center;}
.experience p{visibility:visible;text-align:left;line-height:24px;font-weight:600;}
.footer-v1 .footer{padding:40px 0;background:#1f2024;}
.footer-v1 .copyright{background:#081016;border-top:none;padding:10px 0 5px;}
.experience{}
.experience p{padding-left:50px;padding-right:50px;}
.experience-content1{visibility:visible !important;background:rgba(63, 127, 191,0.9) !important;min-height:200px !important;}
.experience-content2{visibility:visible !important;background:rgba(25, 51, 76,0.9) !important;min-height:200px !important;}
.experience-text{padding:25px;}
.experience-content3{visibility:visible !important;background:rgba(63, 191, 191,0.9) !important;min-height:200px !important;}
.experience-content4{visibility:visible !important;background:rgba(38, 114, 114,0.9) !important;min-height:200px !important;}
.experience h3::after{background:green !important;font-weight:600 !important;}
.experience-main{-webkit-background-size:100% auto;-moz-background-size:100% auto;-o-background-size:100% auto;background-size:cover;height:800px;margin:0;padding:0px;background:rgb(127,191,63) !important;}
.experience-main p{padding-left:75px;padding-right:75px;color:#1f2024 !important;}
.experience-main h3{padding-left:50px;padding-right:50px;color:#1f2024 !important;}
.experience-sub{-webkit-background-size:100% auto;-moz-background-size:100% auto;-o-background-size:100% auto;background-size:cover;height:800px;margin:0;padding:0px;}
.experience-one{background:url('../img/main/uiux.png') no-repeat !important;-webkit-background-size:100% auto;-moz-background-size:100% auto;-o-background-size:100% auto;background-size:cover;background-position:50% 50% !important;height:400px;margin:0;padding:0px;}
.experience-two{background:url('../img/main/search.jpg') no-repeat !important;-webkit-background-size:100% auto;-moz-background-size:100% auto;-o-background-size:100% auto;background-size:cover;background-position:50% 50% !important;height:400px;margin:0;padding:0px;}
.experience-three{background:url('../img/main/reactor.jpg') no-repeat !important;-webkit-background-size:100% auto;-moz-background-size:100% auto;-o-background-size:100% auto;background-size:cover;background-position:50% 50% !important;height:400px;margin:0;padding:0px;}
.experience-four{background:url('../img/main/bpm.jpg') no-repeat !important;-webkit-background-size:100% auto;-moz-background-size:100% auto;-o-background-size:100% auto;background-size:cover;background-position:50% 50% !important;height:400px;margin:0;padding:0px;}
.data-analytics{background:url(../img/main/analytics.jpg) 50% 0 repeat fixed !important;padding:0px !important;padding-top:40px !important;}
.horizontal-scaling{background:url(../img/main/speed.jpg) 50% 0 repeat fixed !important;padding:0px !important;padding-top:40px !important;}
.generic-heading{text-align:left !important;min-height:550px;}
.generic-heading h1{color:#fff !important;margin-top:25%;margin-bottom:38px;font-weight:400 !important;font-size:36px !important;line-height:42px !important;text-transform:none !important;font-family:"Open Sans", Arial, sans-serif;}
.generic-heading p{color:#a9abad !important;font-weight:500;font-size:20px;line-height:28px !important;text-transform:none !important;font-family:"Open Sans", Arial, sans-serif;}
.generic-heading p::after{content:' ' !important;}
.generic-heading p::before{content:' ' !important;}
.services-intro-content-sm{padding-top:0px !important;}
.microservices-image:after{background:rgba(0,0,0,0.5);}
.microservices-heading{text-align:left !important;min-height:450px;}
.microservices-heading h1{color:#fff !important;margin-bottom:38px;font-weight:400 !important;font-size:36px !important;line-height:42px !important;text-transform:none !important;font-family:"Open Sans", Arial, sans-serif;}
.microservices-heading p{color:#a9abad !important;font-weight:650;font-size:30px;line-height:40px !important;text-transform:none !important;font-family:"Open Sans", Arial, sans-serif;}
.microservices-heading p::after{content:' ' !important;}
.microservices-heading p::before{content:' ' !important;}
.microservices-heading h2{margin-top:20px;color:#a9abad !important;font-size:22px !important;line-height:33px !important;text-transform:none !important;font-family:"Open Sans", Arial, sans-serif;}
.navbar-dark{background-color:#17232a !important;background:rgba(39,49,58,.6) !important;}
body.header-fixed-space{padding-top:0px !important;}
.footer-dark{}
.navbar-dark li a{color:#ececec !important;}
.color-intro-dark{color:#17232a;font-size:22px;}
.color-intro-general{margin-top:10%;color:#17232a !important;font-weight:400 !important;}
.color-intro-green{color:#17232a;font-weight:400 !important;}
.intro-text{font-weight:313 !important;}
.intro-mask1{width:100%;height:100%;padding:30px;background-color:rgba(45, 56, 56,0.5);}
.intro-mask2{width:100%;height:100%;padding:30px;background-color:rgba(45, 56, 56,0.5);}
.intro-mask3{width:100%;height:100%;padding:30px;background-color:rgba(45, 56, 56,0.5);}
.box-services{background:#ececec;}
.services-color{color:#17232a !important;font-size:22px !important;}
.services-text-color{font-size:18px !important;}
.services-border{border:1px solid #cfcfcf !important;}
.service-box{box-shadow:0px 9px 30px 0px rgba(0,0,0,0.5);}
.aboutus-text{text-align:left !important;padding:0px 12% 0px 12%;}
.service-box-padding{padding-bottom:25px;}
.footer-menu li{border-top:solid 0px #353535 !important;}
.final-service-box{visibility:visible !important;}
.final-service-img li:after{background:rgba(0,0,0,0.7);}
.final-service-box h3{color:#7FBF3F !important;font-weight:600;text-transform:none !important;}
.final-service-box h2{color:#fff;text-align:left;padding-left:25%;line-height:1px;font-size:18px !important;}
.final-service-box{top:40% !important;}
.core-values-box{top:50% !important;}
.focus-text{color:#72c02c;font-size:44px;line-height:24px;}
.final-service-box h2::before{content:".";color:#72c02c;font-size:84px;}
.final-service-box p{padding:0px 10% 0px 10% !important;text-align:left;font-family:Verdana, Geneva, sans-serif;}
.header-v6 .navbar{min-height:0px !important;max-height:0px !important;}
.footer-menu h3{color:#eee;font-size:18px;}
.solutions-heading{margin-top:50px;}
.portfolio-box-v1-solutions li:hover:after{background:rgba(0,0,0,0.1) !important;}
.micro-services-fix{background: url(../img/team/faces.jpg) 50% 0 repeat fixed !important;padding: 0px !important;padding-top:40px !important;}