<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->
 <% include partials/head %>

<body class="header-fixed header-fixed-space page-intro">
  <div class="wrapper">
    <!--=== Header v6 ===-->
<% include partials/header %>


<!--=== Image Block ===-->
		<div class="image-block">
			<div class="container">
				<div class="company-description">
					<h2>We are Strong Innovative team</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum id libero volutpat cursus. Curabitur nec nulla vulputate, fermentum neque quis, aliquam felis. Mauris commodo porttitor posuere. Suspendisse accumsan sem pharetra.</p>
					<p> In id ultricies sem. Donec leo sem, vehicula quis placerat sit amet, cursus id orci. In aliquam aliquet tincidunt.</p>
					<div class="margin-bottom-20"></div>
					<ul class="list-inline benefits">
						<li><i class="rounded-x fa fa-home"></i>Cozy Office</li>
						<li><i class="rounded-x fa fa-calendar"></i>Only 3 Working days</li>
						<li><i class="rounded-x fa fa-money"></i>Holiday Pay</li>
					</ul>
					<button type="button" class="btn-u btn-bordered btn-u-dark"> Learn More</button>
				</div>
			</div>
		</div>
		<!--=== End Image Block ===-->

		<!--=== Full Width Block ===-->
		<div class="full-w-block">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="info-blocks">
							<i class="fa fa-bell-o icon-info-blocks"></i>
							<div class="info-blocks-in">
								<h3>Accounting</h3>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="info-blocks">
							<i class="fa fa-laptop icon-info-blocks"></i>
							<div class="info-blocks-in">
								<h3>10,000+ jobs</h3>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="info-blocks">
							<i class="fa fa-bullhorn icon-info-blocks"></i>
							<div class="info-blocks-in">
								<h3>Web Design</h3>
								<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--=== End Full Width Block ===-->
<!--=== News Block ===-->
		<div class="container content-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-6 md-margin-bottom-30">
						<h2 class="title-v2">WATCH ABOUT US</h2>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
						<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p><br>
						<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
						<a href="#" class="btn-u">Purchase Now</a>
					</div>
					<div class="col-md-6">
						<div class="responsive-video">
							<iframe src="//player.vimeo.com/video/78451097?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--=== End News Block ===-->



<% include partials/footer %>
 </div><!--/wrapper-->
<% include partials/bottom %>
</body>
</html>