<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> 
<html lang="en"> <!--<![endif]-->
 <% include partials/head %>

<body class="header-fixed header-fixed-space page-intro">
  <div class="wrapper">
    <!--=== Header v6 ===-->
<% include partials/header %>

<!--=== Breadcrumbs v3 ===-->
		<div class="breadcrumbs-v3 img-v1">
			<div class="container text-center">
				<p>Our Services</p>
				<h1>Creative freedom matters</h1>
			</div><!--/end container-->
		</div>
		<!--=== End Breadcrumbs v3 ===-->

		<!--=== Service Block v6 ===-->
		<div class="container content-sm">
			<div class="row service-block-v6">
				<div class="col-md-4 md-margin-bottom-50">
					<i class="icon-custom rounded-x icon-color-u icon-line icon-bulb"></i>
					<div class="service-desc">
						<h2>Creative Ideas</h2>
						<p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus. Maecenas</p>
						<a href="#">Learn More</a>
					</div>
				</div>
				<div class="col-md-4 md-margin-bottom-50">
					<i class="icon-custom rounded-x icon-color-u icon-line icon-energy"></i>
					<div class="service-desc">
						<h2>Excellent Features</h2>
						<p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus. Maecenas</p>
						<a href="#">Learn More</a>
					</div>
				</div>
				<div class="col-md-4">
					<i class="icon-custom rounded-x icon-color-u icon-line icon-screen-tablet"></i>
					<div class="service-desc">
						<h2>Fully Responsive</h2>
						<p>Donec convallis augue lacus, sit amet imperdiet est auctor dapibus. Donec non mollis lectus. Maecenas</p>
						<a href="#">Learn More</a>
					</div>
				</div>
			</div><!--/end row-->
		</div>
		<!--=== End Service Block v6 ===-->

<!--=== Content Part ===-->
		<div class="container content">
			<div class="row">
				<div class="col-md-9">
					<!-- General Questions -->
					<div class="headline"><h2>General Questions</h2></div>
					<div class="panel-group acc-v1 margin-bottom-40" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
										1. Put a bird on it squid single-origin coffee nulla?
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
										2. Oliva pariatur cliche reprehenderit high life accusamus?
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
									<ul class="list-unstyled">
										<li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
										<li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
										<li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
										<li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
										3. Enim eiusmod high life accusamus terry richardson?
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird.</p>
									<ul class="list-unstyled">
										<li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
										<li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
										4. Livil anim keffiyeh helvetica craft beer labore wesde brunch?
									</a>
								</h4>
							</div>
							<div id="collapseFour" class="panel-collapse collapse">
								<div class="panel-body">
									Olif moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
										5. Leggings occaecat craft beer farmto tableraw denim?
									</a>
								</h4>
							</div>
							<div id="collapseFive" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Keffiyeh anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
									<ul class="list-unstyled">
										<li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
										<li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
										<li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
										<li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
										<li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
										<li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
										6. Keffiyeh anim keffiyeh helvetica craft beer labore wesse?
									</a>
								</h4>
							</div>
							<div id="collapseSix" class="panel-collapse collapse">
								<div class="panel-body">
									Helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Brunch sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
										7. Helvetica craft beer labore wes anderson cred nesciu ntlife richardson?
									</a>
								</h4>
							</div>
							<div id="collapseSeven" class="panel-collapse collapse">
								<div class="panel-body">
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
								</div>
							</div>
						</div>
					</div><!--/acc-v1-->
					<!-- End General Questions -->
					
				</div><!--/col-md-9-->

				<div class="col-md-3">
					<!-- Contacts -->
					<div class="headline"><h2>Contacts</h2></div>
					<ul class="list-unstyled who margin-bottom-30">
						<li><a href="#"><i class="fa fa-home"></i>5B Streat, City 50987 New Town US</a></li>
						<li><a href="#"><i class="fa fa-envelope"></i>info@example.com</a></li>
						<li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
						<li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>
					</ul>
					<!-- End Contacts -->

					<!-- Info Block -->
					<div class="headline"><h2>Why we are?</h2></div>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
					<ul class="list-unstyled margin-bottom-30">
						<li><i class="fa fa-check color-green"></i> Odio dignissimos ducimus</li>
						<li><i class="fa fa-check color-green"></i> Blanditiis praesentium volup</li>
						<li><i class="fa fa-check color-green"></i> Eos et accusamus</li>
					</ul>
					<!-- End Info Block -->

					<!-- Social -->
					<div class="magazine-sb-social margin-bottom-20">
						<div class="headline headline-md"><h2>Social</h2></div>
						<ul class="social-icons social-icons-color">
							<li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
							<li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
							<li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
							
							<li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
							<li><a href="#" data-original-title="Github" class="social_github"></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<!-- End Social -->
				</div><!--/col-md-3-->
			</div><!--/row-->
		</div><!--/container-->
		<!--=== End Content Part ===-->




<% include partials/footer %>
 </div><!--/wrapper-->
<% include partials/bottom %>
</body>
</html>