<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
 <% include partials/head_error %>
<body class="header-fixed promo-padding-top sliding-panel-ini sliding-panel-flag-right">
<div class="wrapper">
<% include partials/header_static2 %>
       
  <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">404 Error</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">404 Error</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
    <div class="container content">
        <!--Error Block-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="error-v1">
                    <span class="error-v1-title">404</span>
                    <span>That’s an error!</span>
                    <p>The requested URL was not found on this server. That’s all we know.</p>
                    <a class="btn-u btn-bordered" href="/">Back Home</a>
                </div>
            </div>
        </div>
        <!--End Error Block-->
    </div>
    <!--=== End Content Part ===-->
 <!--=== Breadcrumbs v3 ===-->
    <div class="breadcrumbs-v3 img-v1 margin-bottom-60">
        <div class="container text-center">
        </div><!--/end container-->
    </div>
    <!--=== End Breadcrumbs v3 ===-->



<% include partials/footer %>
</div>
<% include partials/bottom %>
  </body>
</html>
